{:duct.profile/base
 {:duct.core/project-ns genqref-api

  ;; :duct.server.http/jetty {:port #duct/env "PORT"}

  :duct.router/reitit
  {:routes
   [["/api-docs/*" {:get {:handler #ig/ref :genqref-api.handler/swagger-ui :no-doc true}}]
    ["/swagger.json" {:get {:handler #ig/ref :genqref-api.handler/swagger :no-doc true}}]
    ["/openapi.json" {:get {:handler #ig/ref :genqref-api.handler/openapi
                            :openapi {:info {:title "GenqrefAPI" :version "0.0.1"}}
                            :no-doc true}}]
    ["/status" {:get {:handler #ig/ref :genqref-api.handler/status
                      :description "Hello"}}]
    ["/api/:context" {:middleware [{:name :duct.middleware.buddy/authentication
                                    :wrap #ig/ref :duct.middleware.buddy/authentication}]}
     ["/:resource" {:get {:handler #ig/ref :genqref-api.handler/get-resource}
                    :post {:handler #ig/ref :genqref-api.handler/post-resource}}]]]}

  :genqref-api.handler/swagger-ui    {}
  :genqref-api.handler/swagger       {}
  :genqref-api.handler/openapi       {}
  :genqref-api.handler/status        {}
  :genqref-api.handler/get-resource  {:logger #ig/ref :duct/logger
                                      :db #ig/ref :duct.database/sql}
  :genqref-api.handler/post-resource {:logger #ig/ref :duct/logger
                                      :db #ig/ref :duct.database/sql}

  :duct.middleware.buddy/authentication
  {:backend :token
   :authfn  #ig/ref :genqref-api.buddy/token-auth}

  :genqref-api.buddy/token-auth {:db #ig/ref :duct.database/sql}

  :duct.migrator.ragtime/resources {:path "migrations"}

  :duct.migrator/ragtime
  {:database   #ig/ref :duct.database/sql
   :logger     #ig/ref :duct/logger
   :strategy   :rebase
   :migrations [#ig/ref :duct.migrator.ragtime/resources]
   :migrations-table "ragtime_migrations"}
  }

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql
 {:database-url "jdbc:postgresql://localhost:5424/genqref?user=postgres"}
 }
